body{
    margin: 0px 0px;
}
.page{
    height:600px;
    width: 100%;
    background-image: url(https://i.pinimg.com/originals/0a/59/4d/0a594d9fc6ffd84ca2b997a32e91556f.jpg);
    background-size: cover;
    filter: blur(5px);
    position: relative;
}
.page1{
    width: 50%;
    height: 360px;
    background-color: gray;
    margin: -500px 336px;
    position: relative;
    opacity: 0.5;
    border-radius: 20px;
    padding: 20px;
}
.profile{
    width: 130px;
    height: 130px;
    position: absolute;
    left: 148px;
    top: 56px;
    opacity: 0.7;
}
h1{
    color: white;
    margin: 14px 36px;
    
}
input{
    /* position: absolute; */
    margin: 11px 28px;
    width: 40%;
    height: 30px;
    border-radius: 30px;
    border: none;
    text-align: center;
}
.login{
    position: absolute;
    margin: 0px 151px;
    width: 50%;
    height: 30px;
    border-radius: 30px;
    border: none;
    text-align: center;
    background-color: blue;
    color: white;
    cursor: pointer;
}
.checked{
    position: absolute;
    margin: 10px 32px;
    width: 14px;
}